<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="element-ui.css">
  <link rel="icon" href="data:image/ico;base64,aWNv">
  <title>cronet quic log analytics</title>
  <style>
    .upload-demo {
      max-width: 700px;
    }

    .title {
      margin: 0 auto 20px;
      width: 100%;
      font-size: 30px;
      padding-left: 10px;
    }

    .done {
      margin-top: 20px;
      color: #67C23A;
    }
    .upload, .list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .el-form-item, .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
      margin-bottom: 1.2px;
    }
    .box-card {
      margin: 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>upload log</span>
      </div>
      <div class="upload">
        <el-card class="box-card">
          <el-upload drag action="./upload/" :show-file-list="false" :before-upload="handleBefore" :on-success="handleSuccess"
            :file-list="fileList">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drag the file here, or <em>click upload</em></div>
          </el-upload>
        </el-card>
        <el-card class="box-card" style="max-width: 600px;">
          <el-form ref="form" :model="form" label-width="200px" size="mini">
            <el-form-item label="show_all_packet_info">
              <el-radio-group v-model="form.show_all_packet_info">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_receive_send">
              <el-radio-group v-model="form.show_receive_send">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_ack_delay">
              <el-radio-group v-model="form.show_ack_delay">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_size_inflight">
              <el-radio-group v-model="form.show_size_inflight">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="ignore_domain_name_list">
              <el-checkbox-group v-model="form.ignore_domain_name_list">
                <el-checkbox label="google.com" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="googleapis.com" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="doubleclick.net" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="google-analytics.com" name="ignore_domain_name_list"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </el-card>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>analysis result <span class="done" v-if="done">( upload done, time: {{end / 1000}}s )</span></span>
      </div>
      <div v-if="httpPath" style="padding-left: 20px;">
        <el-link type="primary" :href="'netlog-viewer/index.html?json=' + httpPath" target="_blank">chrom netLog dump viewer for {{fileName}}
        </el-link>
      </div>
      <div class="list">
        <el-card v-for="(value, name) in htmlList" :key="name" class="box-card">
          <div slot="header" class="clearfix">
            <span>{{name}}</span>
          </div>
          <div v-for="(url, index) in value" :key="url">
            <el-link v-if="url.indexOf('quic_connection.json') >= 0" type="primary" :href="'echarts.html?json=' + htmlPath + url" target="_blank">custom log
              analysis by echarts</el-link>
            <el-link v-else type="primary" :href="htmlPath + url" target="_blank">{{url.split('-').slice(3).join('-')}}</el-link>
          </div>
        </el-card>
      </div>
    </el-card>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>analysis log</span>
      </div>
      <el-tabs value="first">
        <el-tab-pane label="message" name="first"><span v-html="message"></span></el-tab-pane>
        <el-tab-pane label="error" name="second"><span v-html="error"></span></el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</body>
<!-- import Vue before Element -->
<script src="vue.js"></script>
<!-- import JavaScript -->
<script src="element-ui.js"></script>
<script src="zepto.min.js"></script>
<script src="index.js"></script>

</html>