<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="element-ui.css">
  <link rel="icon" href="data:image/ico;base64,aWNv">
  <title>cronet quic log analytics</title>
  <style>
    .upload-demo {
      max-width: 700px;
    }

    .title {
      margin: 0 auto 20px;
      width: 100%;
      font-size: 30px;
      padding-left: 10px;
    }

    .done {
      margin-top: 20px;
      color: #67C23A;
    }
    .upload, .list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .el-form-item, .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
      margin-bottom: 1.2px;
    }
    .box-card {
      margin: 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>upload log</span>
      </div>
      <div class="upload">
        <el-card class="box-card">
          <el-upload drag action="./upload/" :show-file-list="false" :before-upload="handleBefore" :on-success="handleSuccess"
            :file-list="fileList">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Drag the file here, or <em>click upload</em></div>
          </el-upload>
        </el-card>
        <el-card class="box-card" style="max-width: 600px;">
          <el-form ref="form" :model="form" label-width="200px" size="mini">
            <el-form-item label="show_all_packet_info">
              <el-radio-group v-model="form.show_all_packet_info">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_receive_send">
              <el-radio-group v-model="form.show_receive_send">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_ack_delay">
              <el-radio-group v-model="form.show_ack_delay">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="show_size_inflight">
              <el-radio-group v-model="form.show_size_inflight">
                <el-radio label="True"></el-radio>
                <el-radio label="False"></el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="ignore_domain_name_list">
              <el-checkbox-group v-model="form.ignore_domain_name_list">
                <el-checkbox label="google.com" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="googleapis.com" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="doubleclick.net" name="ignore_domain_name_list"></el-checkbox>
                <el-checkbox label="google-analytics.com" name="ignore_domain_name_list"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </el-card>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>analysis result <span class="done" v-if="done">( upload done, time: {{end / 1000}}s )</span></span>
      </div>
      <div v-if="httpPath" style="padding-left: 20px;">
        <el-link type="primary" :href="'netlog-viewer/index.html?json=' + httpPath" target="_blank">chrom netLog dump viewer for {{fileName}}
        </el-link>
      </div>
      <div class="list">
        <el-card v-for="(value, name) in htmlList" :key="name" class="box-card">
          <div slot="header" class="clearfix">
            <span>{{name}}</span>
          </div>
          <div v-for="(url, index) in value" :key="url">
            <el-link v-if="index === 0" type="primary" :href="'echarts.html?json=' + url" target="_blank">custom log
              analysis by echarts</el-link>
            <el-link v-else type="primary" :href="'html_output/' + url" target="_blank">{{url}}</el-link>
          </div>
        </el-card>
      </div>
    </el-card>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>analysis log</span>
      </div>
      <el-tabs value="first">
        <el-tab-pane label="message" name="first"><span v-html="message"></span></el-tab-pane>
        <el-tab-pane label="error" name="second"><span v-html="error"></span></el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</body>
<!-- import Vue before Element -->
<script src="vue.js"></script>
<!-- import JavaScript -->
<script src="element-ui.js"></script>
<script src="zepto.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        start: 0,
        end: 0,
        fileName: '',
        fileList: [],
        done: false,
        visible: false,
        message: '',
        error: '',
        htmlList: {},
        localPath: '',
        httpPath: '',
        form: {
          show_all_packet_info: 'True',
          show_receive_send: 'True',
          show_ack_delay: 'False',
          show_size_inflight: 'False',
          ignore_domain_name_list: ['googleapis.com', 'doubleclick.net', 'google-analytics.com']
        },
        loading: null,
      }
    },
    methods: {
      clean() {
        this.fileList = []
      },
      handleBefore() {
        if (this.start > 0) {
          return
        }
        this.loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        this.message = '';
        this.error = '';
        this.start = new Date().getTime()
      },
      handleSuccess(response, file, fileList) {
        let hasUpload = false
        fileList.forEach(item => {
          if (item.status !== 'success') {
            hasUpload = true
          }
        })
        this.fileName = file.name;
        if (!hasUpload) {
          this.done = true;
          this.end = new Date().getTime() - this.start
          this.start = 0
        }
        if (response.code === 200) {
          this.httpPath = response.data.url;
          this.localPath = response.data.local;
          this.analysisLog();
        }
      },
      analysisLog() {
        const _this = this;
        $.post('./analysis', {
          localPath: _this.localPath,
          show_all_packet_info: _this.form.show_all_packet_info,
          show_receive_send: _this.form.show_receive_send,
          show_ack_delay: _this.form.show_ack_delay,
          show_size_inflight: _this.form.show_size_inflight,
          ignore_domain_name_list: _this.form.ignore_domain_name_list
        }, function (res) {
          if (res.code === 200) {
            _this.htmlList = res.data;
          }
          _this.message = res.message.replace(/\r\n/g, "<br>").replace(/\n/g, "<br>").replace(/\s{2,}/g, "&nbsp;&nbsp;&nbsp;&nbsp;");
          _this.error = res.error.replace(/\r\n/g, "<br>").replace(/\n/g, "<br>").replace(/\s{2,}/g, "&nbsp;&nbsp;&nbsp;&nbsp;");
          _this.loading.close();
        }, 'json');
      }
    }
  })
</script>

</html>